.contacts {
	padding: 55px 0px 63px 0px;
	text-align: center;
}
.contacts-title {
	font-weight: 700;
	font-size: 2.125rem;
	margin-bottom: 75px;
}
.contacts-button {
	padding: 12px 21px;
	background-color: var(--color-black);
	border-radius: 30px;
	color: var(--bg-main);
}
.contacts-button:not(:last-child) {
	margin-bottom: 38px;
}
